# Environment
ENV=development
PROJECT_NAME="RAG SaaS Platform"

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rag_db

# Redis
REDIS_URL=redis://localhost:6379/0

# ChromaDB
CHROMA_PERSIST_DIRECTORY=./chroma_data

# Amali AI Provider
AMALI_API_URL=https://ai-api.amalitech.org/api/v2/public/v1
AMALI_API_KEY=your_amali_api_key
AMALI_PROVIDER_NAME=openai

RAG_TEMPERATURE=0.0
CHAT_TEMPERATURE=0.7
INSUFFICIENT_CONTEXT_TEMPERATURE=0.0
RAG_RELEVANCE_THRESHOLD=0.35
